@{
    Layout = "_Layout";
}

@using RestaurantFinder.Models;
@model List<RestaurantFinder.Models.Restaurant>;

<h1>All restuarants</h1>

@if(Model.Count == 0)
{
    <h3> No restaurants have been added </h3>
}

@foreach(Restaurant restaurant in Model)
{
    <li>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId} )</li>
}

<button class="btn btn-dark">@Html.ActionLink("Create new restaurant", "Create")</button>
<button class="btn btn-dark">@Html.ActionLink("Delete all", "DeleteAll")</button>
<button class="btn btn-dark">@Html.ActionLink("Return to home", "Index", "Home")</button>
<button class="btn btn-dark">@Html.ActionLink("Return to cuisines", "Index", "Cuisines")</button>